.input-login-cad {
  width: 100%;
  border: solid 1px #888888;
  color: #313131;
  background-color: #FAFAFA;
  box-shadow: 3px 7px 18px rgba(103, 105, 116, 0.12);
  height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
  border-radius: 5px;
  margin-top: 24px;
  padding-left: 8px;
  font-family: 'Inter', sans-serif;
}
.required-input {
  border-color: red;
}