#pesquisa-container {
  min-height: 75vh;
  width: 100%;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;

  .esconder-filtros {
    max-height: 0px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
  }

  .mostrar-filtros {
    max-height: 1000px;
    transition: all 0.6s ease-in-out;
  }

  #filtro-button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin-right: 5%;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    background-color: #FFB800;
    color: #313131;
    padding: 8px;
    margin-top:32px;
    transition: all 0.5s;
    p {
      margin-left: 8px;
    }
  }

  #filtro-button:hover {
    background-color: #eca900;
    color: black;
  }


  & > h2 {
    color: #515151;
    font-family: "Nova Flat", sans-serif;
    align-self: flex-start;
    margin-left: 5%;
    font-size: 24px;
    margin-top: 32px;
  }
  & > hr {
    width: 90%;
    height: 1px;
    background-color: #515151;
    border: 0;
  }
  #filtros-box {
    display: flex;
    flex-direction: column;
    width: 90%;
    .filtro-item {
      display: flex;
      flex-direction: column;
      margin-top: 16px;
      label {
        color: #FAFAFA;
        font-size: 14px;
        font-family: 'Nova Flat';
        margin-bottom: 4px;
      }
      select, option {
        background-color: #313131;
        border: 6px solid transparent;
        outline: none;
        color: #b8b8b8;
        font-size: 12px;
        font-family: 'Nova Flat';
        border-radius: 5px;
      }
    }
  }
}

@media (min-width: 600px) {
  #pesquisa-container {
    & > h2 {
      margin-left: 1.5%;
      font-size: 24px;
      font-family: 'Days One', sans-serif;
      color: #FAFAFA;

    }
    & > hr {
      width: 97%;
    }
  }
}

@media (min-width: 770px) {
  #pesquisa-container {
    #filtros-box {
      flex-direction: row;
      justify-content: space-around;
      .filtro-item {
        flex: 1;
        margin-left: 16px;
        margin-right: 16px;
      }
    }
    & > h2 {
      margin-left: 15%;
      font-size: 48px;

    }
    & > hr {
      width: 70%;
    }
  }
}
