#login-cad-container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  

  #quadrado-branco {
    min-height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 32px;
  }

  #quadrado-escuro {
    min-height: 50vh;
    width: 100vw;
    background-color: #1E1F28;
    background-image: url('../../assets/images/dots-background.svg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    img {
      width: 30%;
      height: auto;
    }
    
    p {
      color: #FAFAFA;
      font-family: 'Inter', sans-serif;
      text-align: center;
      font-size: 18px;
      width: 55%;
      line-height: 24px;
    }
  }

  .reversed-login-cad-container {
    flex-direction: row-reverse !important;
  }
  
  
  @media (min-width:800px) { 
    flex-direction: row;
    .reversed-login-cad-container {
      flex-direction: row !important;
    }

    #quadradp-brancp {
      padding-bottom: 0px
    }

    #quadrado-escuro{
      img {
        width: 60%;
        height: auto;
      }
    }
  }

}

