.jogo-item-box {
  width: 90%;
  height: 112px;
  background-color: #1E1F28;
  margin-top: 16px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  img {
    height: 100%;
    width: 80px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .jogo-item-background {
    display: none;
  }
  .jogo-item-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 16px;
    height: 100%;
    margin-top: 16px;

    .nome-desenvolvedora {
      h4 {
        font-family: 'Days One', sans-serif;
        color: #FAFAFA;
      }
      p {
        font-family: 'Nova Flat', sans-serif;
        color: #DDD;
        margin-top: 4px;
      }
    }

    .preco-desconto {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      margin-bottom: 16px;
      h4 {
        font-family: 'Days One', sans-serif;
        color: #FAFAFA;
      }
      div {
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 2px;
        padding-bottom: 4px;
        border: 1px solid #FFB800;
        border-radius: 5px;
        p {
          font-family: 'Nova Flat', sans-serif;
          color: #DDD;
          margin-top: 4px;
          font-size: 12px;
        }
      }
    }
  }

  .personagem { 
    display: none;
  }
}
@media (min-width:600px) { 
  .jogo-item-box {
    width: 45%;
    margin-left: 2.5%;
  .jogo-item-info-container {
    .nome-desenvolvedora {
      h4 {
        font-size: 14px;
      }
      p {
        font-size: 14px;
      }
    }

    .preco-desconto {
      h4 {
        font-size: 14px;
      }
    }
  }
}
}


@media (min-width: 770px) { 
  .jogo-item-box {
    position: relative;
    height: 192px;
    width: 320px;
    margin-top: 80px;

    & > img {
      display: none;
    }
    .jogo-item-background {
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 0;
      img {
        height: 100%;
        width: 100%;
        display: block;
        object-fit: cover;
        border-radius: 10px;
        filter: brightness(50%);
      }
    }
    .jogo-item-info-container {
      * {
        z-index: 1;
      }
      width: 320px - 155px;
      .nome-desenvolvedora {
        h4 {
          font-size: 20px;
        }
        p {
          font-size: 16px;
        }
      }
    }
    .personagem {
      display: block;
      z-index: 1;
      position: absolute;
      right: 0;
      bottom: 0;
      height: 260px;
      width: 155px;
      object-fit: contain;
    }
  }
}